@tailwind base;
@tailwind components;
@tailwind utilities;

figure {
    color: #000000bb;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

figure:before {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-top: solid 2px;
    border-bottom: solid 2px;
    transition: 0.3s;
    transform: scaleX(0);
}


figure:after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-left: solid 2px;
    border-right: solid 2px;
    transition: 0.3s;
    transform: scaleY(0);
}

figure:hover:before,
figure:hover:after {
    transform: scale(1);
}

figure:hover h2,
figure:hover p {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}